# -----------------------------------------------------------------------------
# POSTGRESQL — Base de données principale
# -----------------------------------------------------------------------------
DB_NAME=adv_db
DB_USER=adv_user
DB_PASSWORD=CHANGE_ME_db_password_min16chars

# -----------------------------------------------------------------------------
# REDIS — Verrous distribués des sièges
# -----------------------------------------------------------------------------
REDIS_PASSWORD=CHANGE_ME_redis_password_min12chars

# -----------------------------------------------------------------------------
# KEYCLOAK — IAM
# -----------------------------------------------------------------------------
KC_ADMIN_USER=admin
KC_ADMIN_PASSWORD=CHANGE_ME_keycloak_admin_password

# -----------------------------------------------------------------------------
# HASHICORP VAULT — Gestion des secrets
# -----------------------------------------------------------------------------
VAULT_ROOT_TOKEN=CHANGE_ME_vault_dev_token_min32chars
VAULT_ROLE_ID=LEAVE_EMPTY_until_init-vault.sh_is_run
VAULT_SECRET_ID=LEAVE_EMPTY_until_init-vault.sh_is_run

# -----------------------------------------------------------------------------
# MINIO — Stockage fichiers KYC
# -----------------------------------------------------------------------------
MINIO_ROOT_USER=adv_minio_admin
MINIO_ROOT_PASSWORD=CHANGE_ME_minio_password_min12chars

# -----------------------------------------------------------------------------
# GRAFANA — Dashboard monitoring
# -----------------------------------------------------------------------------
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=CHANGE_ME_grafana_password